


<!DOCTYPE html>
<html>
<head>
	<title>Search</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" class="container">

</head>
<body>
	<div class="quran_image">
		<div class="center">
			<h1 style="color:#FAFAD2;">Search for Any Verse in Holy Quran!</h1>
			<form action="/" method="get">
				<input type="text" id="searchbox" name="q" class="textbox" required>
				<button type="submit" class="btn" style="color:#FAFAD2;">Search</button>
			</form>
		</div>
	</div>

</body>
</html>